<form action="/vendors/{id}/orders/new" method="post">
  <label for="order">Add a new order</label>
  <input id="order" name="order" type="text">

  <label for="description">Add the description</label>
  <input id="description" name="description" type="text">

   <label for="price">Add the price</label>
  <input id="price" name="price" type="text">

  <button type="submit">Submit</button>
</form>