<form action="/orders" method="post">
  <label for="order">Add a new order</label>
  <input id="order" name="order" type="text">

  <label for="description">Add the description</label>
  <input id="description" name="description" type="text">

  <label for="price">Add the price</label>
  <input id="price" name="price" type="text">

  <label for="date">Add the date</label>
  <input id="date" name="date" type="text">

  <button type="submit">Submit</button>
</form>