<h1>Vendor Details: </h1>
<h2>@Model.VendorName</h2>
<ul>
<li><h3>Description of Order: @Model.Description</h3></li>
</ul>

<a href='/vendors/new'>Add another item</a>
<a href='/vendors'>View all items</a>
<a href = '/vendors/{id}/orders/new'>Create a new order for this vendor.</a>